In [18]:
# connect to sql
import mysql.connector

mydb=mysql.connector.connect(
    user='root',
    host='localhost',
    password='123456',auth_plugin='mysql_native_password')

mycursor=mydb.cursor()
mycursor.execute('CREATE DATABASE Phonepe')

In [19]:
# insert a data in to db
import pandas as pd
import pymysql
import sqlalchemy
from sqlalchemy import text

user = 'root'
password = '123456'
host = 'localhost'
port = 3306
database = 'Phonepe'
connection = sqlalchemy.create_engine("mysql+pymysql://{0}:{1}@{2}:{3}/{4}".format(
            user, password, host, port, database
        ))

In [20]:
sql1 = text('CREATE TABLE Agg_Transaction_Table (MyIndex INT NOT NULL AUTO_INCREMENT,State INT,Year INT,Quater INT,Payment_Mode VARCHAR(50),Total_Transactions_count BIGINT,Total_Amount BIGINT,PRIMARY KEY (MyIndex))')
connection.execute(sql1)
df = pd.read_csv(r"C:\Users\admin\Capstone\Phonepe\CSV\Agg_trans.csv")
df.to_sql('agg_transaction_table',con=connection, if_exists= "replace",index=False)

3594

In [21]:
sql2 = text('CREATE TABLE agg_userbydevice_table (MyIndex INT NOT NULL AUTO_INCREMENT,State INT,Year INT,Quater INT,Brand VARCHAR(50),Brand_count BIGINT,Brand_percentage BIGINT,PRIMARY KEY (MyIndex))')
connection.execute(sql2)
df = pd.read_csv(r"C:\Users\admin\Capstone\Phonepe\CSV\user_by_device.csv")
df.to_sql('agg_userbydevice_table',con=connection, if_exists= "replace",index=False)

6732

In [22]:
sql3 = text('CREATE TABLE district_map_transaction_table (MyIndex INT NOT NULL AUTO_INCREMENT,State INT,Year INT,Quater INT,District VARCHAR(50),Transaction_count BIGINT,Transaction_amount BIGINT,PRIMARY KEY (MyIndex))')
connection.execute(sql3)
df = pd.read_csv(r"C:\Users\admin\Capstone\Phonepe\CSV\district_map_transaction.csv")
df.to_sql('district_map_transaction_table',con=connection, if_exists= "replace",index=False)

14636

In [23]:
sql4 = text('CREATE TABLE district_map_registering_table (MyIndex INT NOT NULL AUTO_INCREMENT,State INT,Year INT,Quater INT,District VARCHAR(50),Registered_user BIGINT,App_opening BIGINT,PRIMARY KEY (MyIndex))')
connection.execute(sql4)
df = pd.read_csv(r"C:\Users\admin\Capstone\Phonepe\CSV\district_registering_map.csv")
df.to_sql('district_map_registering_table',con=connection, if_exists= "replace",index=False)

14640

In [24]:
sql5 = text('CREATE TABLE longitude_latitude_state_table (MyIndex INT NOT NULL AUTO_INCREMENT,Code VARCHAR(50),Latitude BIGINT, Longitude BIGINT, State VARCHAR(50),PRIMARY KEY (MyIndex))')
connection.execute(sql5)
df = pd.read_csv(r"C:\Users\admin\Capstone\Phonepe\CSV\Longitude_Latitude_State_Table.csv")
df.to_sql('longitude_latitude_state_table',con=connection, if_exists= "replace",index=False)

36

In [25]:
sql6 = text('CREATE TABLE districts_longitude_latitude_table(MyIndex INT NOT NULL AUTO_INCREMENT,State VARCHAR(50),District VARCHAR(50),Latitude BIGINT, Longitude BIGINT,PRIMARY KEY (MyIndex))')
connection.execute(sql6)
df = pd.read_csv(r"C:\Users\admin\Capstone\Phonepe\CSV\Data_Map_Districts_Longitude_Latitude.csv")
df.to_sql('districts_longitude_latitude_table',con=connection, if_exists= "replace",index=False)

732

In [26]:
sql7 = text('CREATE TABLE top_tran_table(MyIndex INT NOT NULL AUTO_INCREMENT,State VARCHAR(50),Year INT,Quater INT,District VARCHAR(50),Transactiom_count BIGINT, Trsnsaction_amount BIGINT,PRIMARY KEY (MyIndex))')
connection.execute(sql7)
df = pd.read_csv(r"C:\Users\admin\Capstone\Phonepe\CSV\top_tran.csv")
df.to_sql('top_tran_table',con=connection, if_exists= "replace",index=False)

5920

In [28]:
sql8 = text('CREATE TABLE top_user_table(MyIndex INT NOT NULL AUTO_INCREMENT,State VARCHAR(50),Year INT,Quater INT,District VARCHAR(50),Registered_user BIGINT,PRIMARY KEY (MyIndex))')
connection.execute(sql8)
df = pd.read_csv(r"C:\Users\admin\Capstone\Phonepe\CSV\top_user.csv")
df.to_sql('top_user_table',con=connection, if_exists= "replace",index=False)

5920